#movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 20px auto;
  }
  .movie-card {
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
  }
  .movie-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  .movie-card h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
  }
  #movie-details-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;  /* Allow scrolling for long content */
	max-height: 90%;   /* Limit maximum height of popup */
  }
  #movie-details-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  #movie-details-popup .torrent-item {
    margin-bottom: 5px;
  }
  #popup-torrents {
    overflow-y: auto; /* Enable scrolling if content overflows */
    max-height: 300px; /* Set a max height for the torrent list */
}

#popup-torrents table {
    width: 100%;
    border-collapse: collapse; /* Collapse cell borders */
	margin-top: 10px;
}

#popup-torrents th, #popup-torrents td {
    border: 1px solid #ddd; /* Add borders to cells */
    padding: 8px;
    text-align: left; /* Align text to the left */
}

#popup-torrents button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 0;
    cursor: pointer;
    border-radius: 4px;
}