@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  color: #acbdce;
}

:root {
  --border-radius: 10px;
}

.Card {
  top: 0;
  left: 0;
  right: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  margin: 10px;
  z-index: 1000000;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
  z-index: 1000000;
}

.container {
  display: flex;
  align-items: center;
  z-index: 1000000;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow:
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
  z-index: 1000000;
}

.Icon svg {
  transform: translate(-1px, -1px);
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
  z-index: 1000000;
}

.InputContainer {
  width: 100%;
  z-index: 1000000;
}

input {
  background-color: #222222;
  padding: 15px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #202020;
  width: 100%;
  height: 100;
  z-index: 1000000;
}

.InputContainer {
  position: relative;
  border-radius: 5px;
  overflow: auto;
  z-index: 1000000;
}

.InputContainer:before,
.InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000000;
}

.InputContainer:before {
  box-shadow: var(--bottom-shadow);
  z-index: 1000000;
}

.InputContainer:after {
  box-shadow: var(--top-shadow);
  z-index: 1000000;
}

#results {
  margin-top: 0px;
  width: 100%;
  padding: 0 1px;
  box-sizing: border-box;
  z-index: 1000000;
}

.movie-entry {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  z-index: 1000000;
}

.movie-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  z-index: 1000000;
}

button,
.copy-button,
#search-button {
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 10000000;
}

button:after,
.copy-button:after,
#search-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover:after,
.copy-button:hover:after,
#search-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  button,
  button:after,
  .copy-button,
  .copy-button:after,
  #search-button,
  #search-button:after {
    width: calc(150px * 1.618);
    height: calc(76px * 1.618);
    line-height: calc(78px * 1.618);
    font-size: calc(20px * 1.618);
  }
}
